@import "normalize";
@import "base";
@import "bourbon/bourbon";

.container {
  max-width: 75rem;
  margin: 0 auto;
}

@media print, screen and (min-width: 40em) {
  .container {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2em;
}

header a {
  text-decoration: none;
}

nav {
  display: flex;
}

nav li {
  display: inline-block;
}

.logo {
  font-weight: bold;
  font-size: 1.3rem;
}

.logo-wrap,
.btn-wrap {
  flex: 1;
}

.btn-wrap {
  text-align: right;
  margin-left: 2rem;
}
