<!doctype html>
<html lang="en">
    <head>
        <title>Learning Log</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="" />
    </head>
    <body>
    <header>
        <h1><a href="{% url 'learning_logs:index' %}">Learning Log</a></h1>
    </header>
    <nav>
        <a href="{% url 'learning_logs:topics' %}">Topics</a>
    </nav>
    {% block content %}{% endblock content %}
    </body>
    {% load static %}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    {% load sass_tags %}
    <link
      href="{% sass_src 'learning_logs/css/main.scss' %}"
      rel="stylesheet"
      type="text/css"
    />
</html>
